<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="COCOON_DEFAULT" class="org.apache.log4j.FileAppender">
        <param name="File"   value="${catalina.home}/logs/sublima-log4j.log" />
        <param name="Append" value="false" />       
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%t %-5p %c{2} - %m%n"/>
        </layout>     
    </appender>

  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.SimpleLayout"/>
  </appender>

  <logger name="com.computas.sublima">
      <level value="trace"/>
      <appender-ref ref="COCOON_DEFAULT" />
    </logger>

  <root>
      <priority value="${org.apache.cocoon.log4j.loglevel}"/>
      <appender-ref ref="COCOON_DEFAULT" />
  </root>

</log4j:configuration>
