/* General styles */
body {
  margin: 0;
  padding: 0;
  border: 0; /* This removes the border around the viewport in old versions of IE */
  width: 100%;
  background: #fff;
  min-width:  1200px; /* Minimum width of layout - remove line if not required */
  font-size:  12px;
  font-family: Verdana;
}
form {
  padding: 0;
  margin: 0;
}

a {
  color: #0072bc;
}

a:hover {
  color: #0072bc;
  text-decoration: none;
}

h1, h2, h3 {
  margin: .8em 0 .2em 0;
  padding: 0;
}

p {
  margin: .4em 0 .8em 0;
  padding: 0;
}

img {
  margin: 10px 0 5px;
}

fieldset {
  border: 0px solid white;
  padding: 0;
  margin: 0;
}
.floatLeft {
  float:left;
}
.floatRight {
  float:right;
}
.clearer {
	line-height: 0; /* ie */
	clear: both;
}


/* Header styles */
#header {
  width: 100%;
  background-color: #89c0d7; /*Background color header */
  height: 120px;
}
#headerLogo {
  float:left;
}
#headerLogo a {
  text-decoration: none;
}
.headerImg {
   margin:20px 0 0 15px;
   border: none;
}
#headerText {
  display:inline;
  color: #ffffff;
  font-weight:normal;
  margin-left:10px;
  font-size: 20px;
}
#topMenu {
 float:left;
 height: 100%;
 margin-left:25px;
}
#headerSpacer {
  height: 86px;
  width: 100%;
}
.MenuItem {
  background-color: #409ebd; /*background color for the menu items */
  text-align: center;
  height:30px;
  float:left;
  width: 120px;
  margin-left: 10px;
  border:2px solid #fff; /*Border color menu items */
  line-height: 30px;
  color: #fff; /*text color menu items */
  font-size: 16px;
  font-weight:bold;
}
.MenuItem a {
  color:#fff; 
  text-decoration: none;
}
#textSize {
  float: right;
  margin-top: 40px;
  padding: 5px;
}
#textSizeLarge {
  font-size:  14px;
  padding: 5px;
}
#textSizeMedium {
   font-size:  12px;
   background-color: #c8dce6; /*backgund color selectet text size, also change color in textsize.js*/
   padding: 5px;
}
#textSizeSmall {
  font-size:  10px;
  padding: 5px;
}
.langBar {
  margin: 15px 15px 0 0;
  float:right;
  text-align:right;
}
.langBar a {
  text-decoration: none;
  color: #000000;
}
.langBar a:hover {
  text-decoration: underline;
  color: #000000;
  background: none;
}
.langBar a:active {
  text-decoration: underline;
  color: #000000;
  background: none;
}
.spacer {
  height: 40px;
  width: 100%;
}



/*content header*/
#contentLeftMiddleHeader {
  float: left;
  height: 100%;
  width: 75%;
}
#contentLeftHeader {
  height: 100%;
  float:left;
  width: 33%;
  background-image: url(lefttop.png); /*background image curved corner right*/
  background-position: right;
  background-repeat:no-repeat;
  background-color:#d3dfe5; /*background color left col */
}
#contentMiddleHeader {
  height: 100%;
  float:left;
  width: 67%;
  background-color: #ffffff; /*background color middle col */
}
#contentRightHeader {
  height: 100%;
  float:left;
  width:25%;
  background-image: url(righttop.png); /*background image curved corner right*/
  background-position: left;
  background-repeat:no-repeat;
  background-color:#c0d2db;  /*background color right col */
}
#panel-az {
  text-align: center;
  padding: 5px 15px 0 15px;
}
#panel-az a {
  margin-left: 5px; 
}
/*content*/
#content {
  width:100%;
  background-color:#c0d2db; /*Background color right col*/
}
#colmidleft {
  background-color: #d3dfe5; /*Background color left col*/
  width: 75%;
  float: left;
}
#colleft {
  float:left;
  width:33%; 
}
#colmid {
  float:left;
  width:67%;
  background-color: #ffffff; /*background color middle col */
  height:100%;
  min-height: 500px;
}
#colright {
  float:left;
  width:25%;
}
.col1 {
  margin: 0 10px;
}

#panel-search {
  padding: 0 30px;
}
#keyword {
  background-color: #fffef8; /*background color search box */
  margin: 0 10px 0 0;
  border-color: #2d588a; /*border color search box */
  width: 400px;
  float:left;
  display: block;
}
#btnSearch {
  margin-right: 10px;
}
.radio {
  margin-left: 20px;
}
#sortingpanel {
  margin-left: 60px;
}
#sort {
  margin-left: 10px;
  width: 145px;
}
.subHeading {
  padding:0;
  margin: 0 10px 0 40px;
  font-size:25px;
}
.facetHeading {
 background-color: #89c0d7; /*background color facets heading box */
 padding: 5px 20px 5px 40px;
 margin-top: 10px;
}
.facetHeading h3 {
  margin:0;
  padding:0;
  float:left;
  font-size: 14px;
}
.facetHeading img {
  float: right;
  cursor: pointer;
  margin: 0;
}
.facet ul {
  list-style: none;
  margin: 0;
  padding: 5px 0 5px 40px;
}
.facet li {
 margin-bottom: 5px;
}
#panel-nav ul {
  list-style: none;
}
#panel-nav li {

}
.facet a {
  text-decoration: none;
}
#panel-nav a {
  text-decoration: none;
}
#resourceHeading {
  width: 100%;
  line-height:26px;
  background-color:#89C0D7; /* background color resource Heading */
}
#numberOfHits {
  font-size:14px;
  margin-left: 40px;
  font-weight: bold;
  float:left;
}
#describtion {
  float:left;
  margin-left: 40px;
}
.rssImg {
  float: right;
  margin: 0;
  border-style: none;
}
#navi {
  margin-left: 40px;
}
#navi ul {
  padding: 0;
}
#panel-results {
  background-color: #f4f8fa; /* background color results panel */
  padding-top: 10px;
}
#panel-results dl {
  margin: 0;
}

#browseHeader {
  background-color:#89C0D7; /* background color browse header */
  line-height:26px;
  width:100%;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
#browseHeaderText {
  margin-left: 15px;
}
#panel-topic-details 
{
  background-color: #f4f8fa;  /* background color topics*/
  
  }
#panel-topic-details ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}
#panel-topic-details li {
  line-height: 1.5em;
}
li.themeCol1 {
  width:32%;
  float:left;
  margin-left: 1%;
}
li.themeCol2 {
  width:32%;
  float:left;
  margin-left: 1%;
}
li.themeCol0 {
  width:32%;
  float:left;
  margin-left: 1%;
}

#footer {
  margin-top: 10px;
  background-color: #c8dce6; /* background color footer*/
  height: 30px;
}
#leftFooter {
  width: 49%;
  float:left;
  background-color: #89c0d7; /* background color left footer*/
  text-align:center;
  height:100%;
 }
#rightFooter {
    float:right;
    width: 49%;
    background-color: #89c0d7; /* background color right footer*/
    padding: 0 10px;
    text-align:center;
    height:100%;
}



/*Admin*/

#adminContentLeftHeader {
  height: 100%;
  float:left;
  width: 25%;
  background-image: url(lefttop.png);
  background-position: right;
  background-repeat:no-repeat;
  background-color:#d3dfe5;
  }
#adminContentMiddleRightHeader {
  height: 100%;
  float:left;
  width: 75%;
  background-color: #ffffff
}
#admincontent{
    background-color:#d3dfe5;
   
}
#admincolleft {
  height: 100%;
  float:left;
  width: 25%;
  
}
#admincolmidright {
  height: 100%;
  float:left;
  width: 75%;
  background-color: #ffffff;
  min-height: 500px;
}

/* Validation messages */
p.validationmessage {
  font-size: medium;
  font-weight: bold;
  color: blue;
}

.selectmultiplebutton {
  display: block;
  border: 1px solid #aaa;
  text-decoration: none;
  background-color: #fafafa;
  color: #123456;
  margin: 2px;
  clear: both;
}

.selectmultiple {
  width: 400px;
  height: 200px;
}
/*#header p,
  #header h1,
  #header h2 {
  padding: .4em 15px 0 15px;
  margin: 0;
}

#header ul {
  clear: left;
  float: left;
  width: 100%;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

#header ul li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

#header ul li a {
  display: block;
  float: left;
  margin: 0 0 0 1px;
  padding: 3px 10px;
  text-align: center;
  background: #eee;
  color: #000;
  text-decoration: none;
  position: relative;
  left: 15px;
  line-height: 1.3em;
}

#header ul li a:hover {
  background: #369;
  color: #fff;
}

#header ul li a.active,
  #header ul li a.active:hover {
  color: #fff;
  background: #000;
  font-weight: bold;
}

#header ul li a span {
  display: block;
}
*/
/* 'widths' sub menu */



